<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Furniture Details</h1>
    </div>
  </div>
  <div *ngIf="currFurn" class="row space-top">
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{currFurn.image}}" alt="{{currFurn.make}}" />
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p>Make: {{currFurn.make}}</p>
      <p>Model: {{currFurn.model}}</p>
      <p>Year: {{currFurn.year}}</p>
      <p>Description: {{currFurn.description}}</p>
      <p>Price: {{currFurn.price}}</p>
      <p>Material: {{currFurn.material}}</p>
    </div>
  </div>
</div>